<p id="notice"><%= notice %></p>

<p>
  <strong>Home:</strong>
  <%= @game.player_one_id %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @game.player_one_score %>
</p>

<p>
  <strong>Away:</strong>
  <%= @game.player_two_id %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @game.player_two_score %>
</p>

<p>
  <strong>Match:</strong>
  <%= @game.match_id %>
</p>



